# Node
node_modules/

# Firebase
.firebase/
.firebaserc
serviceAccountKey.json

# Flutter
/build/
.dart_tool/
.pub-cache/

# Firebase Flutter
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Documentation
CLAUDE.md

# OS
.DS_Store
Thumbs.db
.vscode/
